{% extends 'base.html.twig' %}

{% block title %}Video Details{% endblock %}

{% block body %}
    <div id="home-spa"></div>
    <script>const config = {{ config|json_encode|raw }};</script>
{% endblock %}
