PROJECT_VERSION=0.1.0
GIT_REPOSITORY_URL=https://github.com/oleg-milantiev/video-transcoder.git

GRAFANA_PASSWORD=master
DEFAULT_URI=https://yc.milantiev.com

REDIS_HOST=redis
REDIS_PORT=6379

DATABASE_URL="postgresql://yc:yc@postgres:5432/yc?serverVersion=16&charset=utf8"

MERCURE_PUBLIC_URL: 'https://yc.milantiev.com:8080/.well-known/mercure'
MERCURE_INTERNAL_URL: 'http://mercure:8080/.well-known/mercure'
MERCURE_SUBSCRIBER_JWT_KEY=changeme
MERCURE_PUBLISHER_JWT_KEY=changeme
MERCURE_TOPIC_PREFIX="${DEFAULT_URI}/user"
MERCURE_TOKEN_TTL_SECONDS=3600

OAUTH_GOOGLE_CLIENT_ID=changeme.apps.googleusercontent.com
OAUTH_GOOGLE_CLIENT_SECRET=changeme
OAUTH_GOOGLE_REDIRECT_URI=https://yc.milantiev.com/connect/google/check
